# Terraform files
**/TERRAFORM*/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
crash.log
crash.*.log

# Word documents
*.docx

# Temporary files
~$readme.*

#Ignorer les fichiers docker pour les variables d'environnement
**/.env

#Contiennnent Access-key et secret key
/TERRAFORM - image docker/
/TERRAFORM - image docker 2/

# suppression des fichiers sensibles
*.ppk
*.pem
*.key